// COLORS
$color-text-black: #161816;
$color-background: #0d0d0d;
$color-surface: #1a1a1a;
$color-surface-dark: #141414;
$color-gold: #d4af37;
$color-orange: #e09943;
$color-orange-light: #e8c397;
$color-orange-dark: #2a1f14;
$color-gold-bright: #ffd700;
$color-light: #f5f5f5;
$color-muted: #b3b3b3;
$color-muted-light: #d3d3d3;
$color-green: #65ab65;

$color-success: #2e7d32;
$color-error: #d95454;
$color-info: #0288d1;

// FONTS
$base-font-size: 14px;
$small-font-size: 12px;
$large-font-size: 24px;
$extra-large-font-size: 40px;
$extra-small-font-size: 10px;
$header-font-size: 16px;
$jumbo-font-size: 69px;
$small-header-font-size: 16px;
