@use "~/assets/css/variables.scss";

.betTimer {
  margin: 8px 0;
  font-size: 14px !important;
  padding: 8px 5px !important;
  height: fit-content !important;
  border-radius: 43px !important;
  background-color: variables.$color-info-light !important;
  color: white !important;
  border: none !important;

  &--onTimeLimit {
    animation: pulse 1s infinite;
    background-color: variables.$color-info !important;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
